<div class="content pure-g">

  <div class="pure-u-1">
    <h3 id="footer-head" class="content-head">Interessiert? Dann kontaktieren Sie mich einfach!</h3>
  </div>

  <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
    
    <form id="contactForm" method="POST" action="http://ruppertdesign.de/contact.php" class="pure-form pure-form-stacked">
      <fieldset>

        <legend>Kontakt</legend>

        <div class="error-msg" id="submitError" hidden="hidden">
          Leider konnten Ihre Daten nicht übertragen werden.<br />Bitte überprüfen Sie Ihre Daten oder versuchen es später noch einmal.
        </div>

        <label for="name">Name</label>
        <input id="name" name="name" type="text" required minlength="3" maxlength="30" pattern="[0-9a-zA-ZßÖÄÜ\u00E0-\u00FC,\. _-]{3,}" />
        <div class="error-msg">
          Bitte geben Sie mindestens 3 und maximal 30 gültige Zeichen ein
        </div>

        <label for="email">E-Mail</label>
        <input id="email" name="email" type="email" required maxlength="30" pattern="[0-9a-zA-Z\._%+-]+@[0-9a-zA-Z\.-]+\.[a-z]{2,4}" />
        <div class="error-msg">
          Bitte geben Sie eine gültige E-Mail Adresse ein
        </div>

        <label for="tel">Telefonnummer</label>
        <input id="tel" name="tel" type="tel" maxlength="30" pattern="[\(\)0-9 \/\+-]*" />
        <div class="error-msg">
          Bitte geben Sie nur gültige Zeichen ein: 0-9 / + - ( )
        </div>        

        <label for="message">Beschreiben Sie Ihr Projekt</label>
        <textarea id="message" name="message" rows="6" required></textarea>
        <div class="error-msg" hidden="hidden">
          Beschreiben Sie bitte Ihr Projekt
        </div>

        <label for="newsletter" class="pure-checkbox">
          <input id="newsletter" name="newsletter" type="checkbox" checked="checked"> RUPPERTdesign soll über neue Projekte informieren
        </label>

        <button id="submit" type="submit" class="pure-button">Senden</button>

        <input type="text" name="_gotcha" class="hideme" />

      </fieldset>
    </form>

    <div id="submitSuccess">
      <h3>Vielen Dank für Ihr Interesse.</h3>
      <p>Ich werde mir Ihre Anfrage umgehend ansehen und mich bei Ihnen melden, um weitere Details zu besprechen.</p>
      <p>Viele Grüße<br />Simon Ruppert</p>
    </div>  

  </div>

  <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
    <div class="right-box">

      <address>
        RUPPERTdesign<br />
        Tannenfleckstraße 12b<br />
        D-82194 Gröbenzell<br />
        <a href="tel:+4917624022029">+49 (0)176 24022029</a><br />
        <a href="mailto:info@ruppertdesign.de">info@RUPPERTdesign.de</a><br />
        Geschäftsführer: Simon Ruppert
      </address>

      <p>&copy; <span class="js_year">{{ 'now' | date: "%Y" }}</span> RUPPERTdesign.de</p>
      <p><a href="{{ site.baseurl }}/impressum">Impressum</a></p>
      <p><a href="{{ site.baseurl }}/datenschutz">Datenschutz</a></p>

      <img class="qr-code pure-img" src="{{ "/img/qr-code.png" | prepend: site.baseurl }}" width="150" />
      
      <a href="{{ site.baseurl }}/holzwerke">
        <img class="sm-link pure-img" src="{{ "/img/rd.png" | prepend: site.baseurl }}" />
      </a>

      <a href="https://www.facebook.com/pages/RUPPERTdesign/804908999555866" title="RUPPERTdesign auf Facebook" target="_blank">
        <img class="sm-link pure-img" src="{{ "/img/facebook.png" | prepend: site.baseurl }}" />
      </a>

      <a href="https://instagram.com/ruppertdesign/" title="RUPPERTdesign auf Instagram" target="_blank">
        <img class="sm-link pure-img" src="{{ "/img/instagram.png" | prepend: site.baseurl }}" />
      </a>

      <a href="https://www.pinterest.com/RUPPERTdesign/" title="RUPPERTdesign auf Pinterest" target="_blank">
        <img class="sm-link pure-img" src="{{ "/img/pinterest.png" | prepend: site.baseurl }}" />
      </a>

    </div>
  </div>

</div>
