{% assign pathsegments = page.url | downcase | split: '/'  %}

<nav class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">

    <a class="pure-menu-heading" href="{{ site.baseurl }}/landing">RUPPERTdesign</a>
    <a class="menu-button" href="#"></a>
    <ul>
      <li {% if pathsegments[1] == 'holzwerke' %}class="pure-menu-selected"{% endif %}>
        <a href="{{ "/holzwerke" | prepend: site.baseurl }}">Holzwerke</a>
      </li>
      <li {% if pathsegments[1] == 'ihre-idee' %}class="pure-menu-selected"{% endif %}>
        <a href="{{ "/ihre-idee" | prepend: site.baseurl }}">Ihre Idee</a>
      </li>
      <li {% if pathsegments[1] == 'referenzen' %}class="pure-menu-selected"{% endif %}>
        <a href="{{ "/referenzen" | prepend: site.baseurl }}">Referenzen</a>
      </li>
      <li {% if pathsegments[1] == 'ueber-mich' %}class="pure-menu-selected"{% endif %}>
        <a href="{{ "/ueber-mich" | prepend: site.baseurl }}">Über mich</a>
      </li>
      {% if include.kontakt != "false" %}
        <li>
          <a href="{{ "#kontakt" | prepend: site.baseurl }}">Kontakt</a>
        </li>
      {% endif %}
      <li>
        <a href="http://de.dawanda.com/shop/ruppertdesign">Shop</a>
      </li>
    </ul>

</nav>
