* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-stack;
  color: $primary-color;
  font-weight: $font-weight-default;
  @include font-size($font-size-normal);
}

.pure-g, .pure-g [class *="pure-u"] {
  font-family: $font-stack;
}

.wf-loading, .wf-inactive {
  font-family: $font-fallback; 

  h1, h2 {
    font-weight: $font-weight-default;
  }

}

h1, h2, h3, strong {
  font-weight: $font-weight-heavy;
}

p {
  line-height: 1.5;
}

a {
  color: $primary-color;
  text-decoration: underline;

  &:hover {
    color: $accent-color;
  }

  &:focus {
    outline: none;
    color: $accent-color !important;
  }

}

address {
    font-style: normal;
    @include font-size($font-size-normal);
    line-height: 1.7;
    margin-bottom: 2em;
} 

.content-head {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}

// for footer and ribbons
.right-box {
  margin: 0 1em 0 3em;
}

// helpers
.center {
  text-align: center;
}

.rounded {
  border-radius: 3px;
}

img.rounded {
  border: 1px solid $silver;
}

.hideme {
  display: none !important;
}

// validation
.pure-form {
  
  input.error, textarea.error {
    border: 1px solid $form-error;
  }

  .error-msg {
    color: $form-error;
    @include font-size($font-size-normal);
    padding: 5px 0 20px 0;
    display: none;
    font-weight: $font-weight-heavy;
  }

}
