* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  color: $primary-color;
  font-weight: $font-weight;
  @include font-size($font-size-normal);
}

.pure-g, .pure-g [class *="pure-u"] {
  font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-heading;
}

p {
  line-height: 1.5;
}

.content-head {
  font-weight: $font-weight-heading;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}

// for footer and ribbons
.right-box {
  margin: 0 1em 0 3em;
}

// helpers
.center {
  text-align: center;
}

.rounded {
  border-radius: 3px;
}

.hideme {
  display: none !important;
}
