.configurator {
  .configurator-box {
    text-align: center;

    input[type='radio'] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      + img {
        cursor: pointer;
        @include filter(opacity(60%));
        &:hover {
          @include filter(opacity(100%));
        }
      }
      &:checked + img {
        outline: 5px solid $lynch;
        @include filter(opacity(100%));
      }
    }

    .img-wrapper {
      width: 320px;
      height: 240px;
      margin: 1em auto;
    }

    h3 {
      font-size: 1.3em;
      margin: 1em 0 0.5em 0;
      color: $primary-color;
    }

    p {
      margin-top: 0;
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  textarea {
    width: 100%;
    border-radius: 0;
    margin: 0.5em 0 1em 0;
  }
}
