footer {

  width: 100%;
  background-color: $footer-color;
  color: #fff;
  padding: 2em 0;

  .content > div {
    margin-bottom: 3em;
  }

  address, p {
  	margin: 0 0 0.5em 0;
    font-style: normal;
    @include font-size($font-size-normal);
    line-height: 1.7;
  }

  a {
  	text-decoration: underline;
  	color: #fff;
  }

  a:hover, a:focus {
  	color: $nav-underline-color;
  }

  #submitSuccess, #submitError {
    display: none;
  }

  .pure-form {

    legend {
      display: none;
    }

    fieldset {
      padding: 0;
    }

    input[type="text"],
    input[type="email"],
    textarea,
    button {
      border-radius: 0;
      background-color: #fff;
    }

    input[type="text"],
    input[type="email"],
    textarea,
    button {
      &:focus {
        border-color: $form-success;
      }
    }

    input[type="text"],
    input[type="email"],
    textarea {
      margin: 0.5em 0 1em 0;
    }

    .pure-button {
      margin-top: 1em;
    }

    textarea {
      height: auto;
    }

    input[type="text"],
    input[type="email"],
    textarea  {
      width: 90%;
    }

  }


}
