footer {

  width: 100%;
  background-color: $footer-color;
  color: #fff;
  padding: 2em 0;

  .content > div {
    margin-bottom: 3em;
  }

  address, p {
  	margin: 0 0 0.5em 0;
    font-style: normal;
    @include font-size($font-size-normal);
    line-height: 1.7;
  }

  .qr-code {
    display: none;
  }

  .sm-link {
    margin: 25px 15px 0 0;
    width: 50px;
    float: left;
  }

  a {
  	text-decoration: underline;
  	color: #fff;
  }

  a:hover, a:focus {
  	color: $nav-underline-color;
  }

  #submitSuccess, #submitError {
    display: none;
  }

  .pure-form {

    legend {
      display: none;
    }

    fieldset {
      padding: 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    button {
      border-radius: 0;
      background-color: #fff;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea,
    button {
      &:focus {
        border-color: $form-success;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      margin: 0.5em 0 1em 0;
    }

    .pure-button {
      margin-top: 1em;
    }

    textarea {
      height: auto;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      width: 90%;
    }

  }

}

.lt-ie9 .pure-form {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 22em;
  }
}

@media only screen and (min-width: 48em) {
  footer .qr-code {
    display: block;
    margin-top: 25px;
  }
}

.dawanda-rating {
  margin-top: 20px;
  ul {
    list-style-type: none;
    margin-right: 10px;
    padding: 0;
    display: inline;
    li {
      display: inline;
    }
  }
  a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
  }
  span {
    display: inline;
  }
}

// cookie warning
.cookie-warning {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px;
  padding-top: 10px;
  z-index: 999;
  background-color: $white;
  font-size: 15px;
  color: $primary-color;
  text-align: center;
  border-top: 1px solid $pure-silver;
  button {
    border-radius: 0;
    margin-left: 30px;
  }
}