.splash-container {
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 650px;
  top: 0;
  left: 0;
  position: fixed;
  background-repeat: no-repeat;
  background-position: center 50px;
}

.landing-wrapper {
  position: relative;
  z-index: 2;
}

@mixin splash-background($minWidth, $maxWidth, $width, $height) {

  @media only screen and (min-width: $minWidth + px) and (max-width: $maxWidth + px) {
    .splash-container {
      background-image: url('../img/header-#{$width}x#{$height}.jpg');
      @media (-webkit-min-device-pixel-ratio: 2) {
        background-image: url('../img/header-#{$width}x#{$height}@2x.jpg');
        background-size: $width + px $height + px;  
      }
    }
    .landing-wrapper {
      top: $height + 50 + px;
    }
  }

}

@include splash-background(0, 320, 320, 100);
@include splash-background(321, 400, 400, 125);
@include splash-background(401, 600, 600, 188);
@include splash-background(601, 800, 800, 250);
@include splash-background(801, 1200, 1200, 375);
@include splash-background(1201, 5000, 1920, 600);

// non responsive solution for IE<9
.lt-ie9 {
  .splash-container {
    background-image: url('../img/header-1920x600.jpg');
  }
  .landing-wrapper {
    top: 650px;
  }
}

.landing-head {
  @include font-size($font-size-bigger);
}

.content-subhead a {
  color: $primary-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

body {
  -webkit-text-size-adjust: none;
}

.features {
  // tablet
  @media only screen and (min-width: 48em) and (max-width: 80em) {
    > div:nth-child(odd) {
      padding-right: 1.5em;
    }
    > div:nth-child(even) {
      padding-left: 1.5em;
    }
  }

  @media only screen and (min-width: 80em) {
    // we need to use padding for space between items but want equal sizes for text and space
    > div:nth-child(1) {
      padding-right: 2em;
    }

    > div:nth-child(2) {
      padding: 0 1.3333em 0 0.6666em;
    }

    > div:nth-child(3) {
      padding: 0 0.6666em 0 1.3333em;
    }

    > div:nth-child(4) {
      padding-left: 2em;
    }
  }

  h3 {
    text-align: center;
    @include font-size($font-size-big);
  }

  p {
    text-align: justify;
  }
}

.lt-ie9 .features div {
  padding: 0 30px;
  width: 265px;
}

.lt-ie8 .features div {
  padding: 0 35px;
  width: 205px;
}

@mixin ribbon($idx) {
  $color: map-get(map-get($ribbons, $idx), 'color');
  &:nth-of-type(#{$idx}) {
    background-color: map-get(map-get($ribbons, $idx), 'background');
    color: $color;
    a {
      color: $color;
      &:hover,
      &:focus {
        color: map-get(map-get($ribbons, $idx), 'hover');
      }
    }
  }
}

.ribbon {
  padding: 1em 0 3em 0;

  @for $i from 1 through 8 {
    @include ribbon($i);
  }

  p {
    line-height: 1.7;
    margin: 0 0 1em 0;
    @include font-size($font-size-normal);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    line-height: 1.4;
  }

  img {
    margin-bottom: 20px;
  }
}
