.splash-container {
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 650px;
  top: 0;
  left: 0;
  position: fixed;
}

.landing-wrapper {
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 400px) {
  .splash-container {
    background: url('../img/header-400x125.jpg') no-repeat center 50px;
  }
  .landing-wrapper {
    top: 175px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
  .splash-container {
    background: url('../img/header-600x188.jpg') no-repeat center 50px;
  }
  .landing-wrapper {
    top: 238px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .splash-container {
    background: url('../img/header-800x250.jpg') no-repeat center 50px;
  }
  .landing-wrapper {
    top: 300px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
  .splash-container {
    background: url('../img/header-1200x375.jpg') no-repeat center 50px;
  }
  .landing-wrapper {
    top: 425px;
  }
}

@media only screen and (min-width: 1201px) {
  .splash-container {
    background: url('../img/header-1920x600.jpg') no-repeat center 50px;
  }
  .landing-wrapper {
    top: 650px;
  }
}

.landing-head {
  @include font-size($font-size-bigger);
}

.content-subhead a {
    color: $primary-color;
    text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }

}

body {
  -webkit-text-size-adjust: none;
}

.features {
  
  // tablet
  @media only screen and (min-width: 48em) and (max-width: 80em) {
    > div:nth-child(odd) {
      padding-right: 1.5em;
    }
    > div:nth-child(even) {
      padding-left: 1.5em;
    }
  }

  @media only screen and (min-width: 80em) {
    // we need to use padding for space between items but want equal sizes for text and space
    > div:nth-child(1) {
      padding-right: 2em;
    }

    > div:nth-child(2) {
      padding: 0 1.3333em 0 0.6666em;
    }

    > div:nth-child(3) {
      padding: 0 0.6666em 0 1.3333em;
    }

    > div:nth-child(4) {
      padding-left: 2em;
    }  
  }
  

  h3 {
    text-align: center;
    @include font-size($font-size-big);
  }

  p {
    text-align: justify;
  }

}

.lt-ie9 .features div {
  padding: 0 30px;
  width: 265px;
}

.lt-ie8 .features div {
  padding: 0 35px;
  width: 205px;
}

.ribbon {
  
  padding: 1em 0 3em 0;

  &:nth-of-type(1) {
    background-color: $ribbon-1;
    color: $white;

    a {
      color: $white;

      &:hover,
      &:focus {
        color: $silver;
      }
    }

  }

  &:nth-of-type(2) {
    background-color: $ribbon-2;
  }

  &:nth-of-type(3) {
    background-color: $ribbon-3;
    color: $white;

    a {
      color: $white;

      &:hover,
      &:focus {
        color: $silver !important;
      }
    }

  }

  &:nth-of-type(4) {
    background-color: $ribbon-4;
  }

  p {
    line-height: 1.7;
    margin: 0 0 1em 0;
    @include font-size($font-size-normal);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    line-height: 1.4;
  }

  img {
    margin-bottom: 20px;
  }

}
