.splash-container {
  background: url('../img/header-1920x600.jpg') no-repeat center 50px;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 650px;
  top: 0;
  left: 0;
  position: fixed;
}

.landing-wrapper {
  position: relative;
  top: 650px;
  z-index: 2;
}

.landing-head {
  @include font-size($font-size-bigger);
}

.content-subhead a {
    color: $primary-color;
    text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }

}

.features {

  > div:nth-child(1) {
    padding-right: 2em;
  }

  > div:nth-child(2) {
    padding: 0 1.3333em 0 0.6666em;
  }

  > div:nth-child(3) {
    padding: 0 0.6666em 0 1.3333em;
  }

  > div:nth-child(4) {
    padding-left: 2em;
  }

  h3 {
    text-align: center;
    @include font-size($font-size-big);
  }

  p {
    text-align: justify;
  }

}

.ribbon {
  
  padding: 1em 2em 3em 2em;

  &:nth-of-type(1) {
    background-color: $ribbon-1;
    color: #fff;
  }

  &:nth-of-type(2) {
    background-color: $ribbon-2;
  }

  &:nth-of-type(3) {
    background-color: $ribbon-3;
    color: #fff;
  }

  &:nth-of-type(4) {
    background-color: $ribbon-4;
  }

  p {
    line-heigt: 1.7;
    margin: 0 0 1em 0;
    @include font-size($font-size-medium);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    line-height: 1.4;
  }

}

.ribbon-odd {

}

@media (min-width: 48em) {
  .content {
    padding: 1em;
  }
}
