.post {

  article { 

    margin: 0 auto;
    max-width: 800px;    

    h2 {
      margin: 1.5em 0;
    }

    p {
      line-height: 1.8;
      margin: 0 auto 1em auto;
      overflow: visible;  
      @include font-size($font-size-medium);
    }

    span {
      display: inline-block; 
      position:relative; 
      right: -50%;
    }

    img {
      margin: 1em 0;
      width: 1100px;
      position: relative; 
      left: -50%;
    }

  }

}
