.post {

  article { 

    margin: 0 auto;
    max-width: 800px;    

    h2 {
      margin: 1.5em 0;
    }

    p {
      line-height: 1.8;
      margin: 0 auto 1em auto;
      overflow: visible;  
      @include font-size($font-size-normal);
    }

    @media (min-width: 64em) {

      .img-wrapper {
        position: relative; 
        right: 50%;
        text-align: center;
      }

      img {
        display: inline-block;
        margin: 1em -100% 1em 0;
        width: 1100px;
      }

      img.medium {
        width: 800px;
      }

      img.small {
        width: 600px;
      }

    }
    
    @media (max-width: 64em) {
      img {
        max-width: 100%;
        margin-bottom: 20px;
      }
    }

  }

}

.lt-ie9 .post img {
  max-width: 100%;
}
