.product-box {

  text-align: center;
  padding: 0.5em 0;

  .img-border {
    width: 300px;
    height: 250px;
    overflow: hidden;
    border-radius: 3px;
  }

  img {
    margin: 1em auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    &:hover {
      -webkit-filter: opacity(70%);

      -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1)

    }
  }

  h3 {

    font-size: 1.3em;
    margin: 1em 0 0.5em 0;

    a {
      color: $primary-color;
      text-decoration: none;
    }

    a:hover,
    a:focus {
        color: $accent-color;
    }

  }

  p {

    a,
    a:hover,
    a:focus {
        color: #999;
        text-decoration: none;
    }

  }

}
