.reference {

	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid $silver;

	&:last-of-type {
		border-bottom: 0 none;
	}

	p {
		margin: 0 0 1em 0;
	}

}

@media only screen and (max-width: 35em) {
	
	.reference {
		
		margin-bottom: 0;
		padding-bottom: 0;

		.content {
			padding: 0.5em 0;
		}

		img {
			margin-bottom: 20px;
		}

	}

}