// colors
$primary-color: #666;
$nav-color: #565d64;
$nav-underline-color: #bebebe;
$accent-color: green;//#483c31;
$footer-color: #3f4245;

$form-success: green;
$form-error: red;

// fonts
$font-stack:    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-weight: 300;
$font-weight-heading: 200;

$font-size-small: 0.5;
$font-size-nav: 1.05;
$font-size-normal: 1.1;
$font-size-medium: 1.3;
$font-size-big: 1.5;
$font-size-bigger: 2;
