// colors
$tundora: #464646;
$mondo: #2C2B2A;
$silver: #c9c9c9;
$la-palma: #484E5B;
$white: #fff;
$pure-silver: #b7b7b7;

$primary-color: $tundora;
$nav-color: $tundora;
$nav-underline-color: $silver;
$accent-color: $la-palma;
$footer-color: $tundora;
$ribbon-1: $mondo;
$ribbon-2: $white;
$ribbon-3: $la-palma;
$ribbon-4: $white;

$form-success: #6fa600;
$form-error: #cc0000;

// fonts
$font-stack: "Open Sans", sans-serif;
$font-fallback: "Helvetica Neue", Arial, "Lucida Grande", sans-serif; 

$font-weight-default: 300;
$font-weight-heavy: 400;
$font-weight-error: 600;

$font-size-small: 0.5;
$font-size-nav: 1.7;
$font-size-normal: 1.9;
$font-size-big: 2.5;
$font-size-bigger: 3;
