// colors
$tundora: #464646;
$tuatara: #2C2B2A;
$mondo: #4A3C31;
$silver: #c9c9c9;
$la-palma: #10B110;
$trout: #484E5B;
$white: #fff;
$pure-silver: #b7b7b7;

$primary-color: $tundora;
$nav-color: $tundora;
$nav-underline-color: $silver;
$accent-color: $la-palma;
$footer-color: $tundora;

// ribbon colors
$lynch: #657e93;
$grainBrown: #e2cbac;
$charade: #302e3f;

$ribbons: (
  1: (
    background: $lynch,
    color: $white,
    hover: $silver,
  ),
  2: (
    background: $grainBrown,
    color: $primary-color,
    hover: $accent-color,
  ),
  3: (
    background: $charade,
    color: $white,
    hover: $silver,
  ),
  4: (
    background: $white,
    color: $primary-color,
    hover: $accent-color,
  ),
  5: (
    background: $lynch,
    color: $white,
    hover: $silver,
  ),
  6: (
    background: $grainBrown,
    color: $primary-color,
    hover: $accent-color,
  ),
  7: (
    background: $charade,
    color: $white,
    hover: $silver,
  ),
  8: (
    background: $white,
    color: $primary-color,
    hover: $accent-color,
  ),
);

$form-success: #6fa600;
$form-error: #cc0000;

// fonts
$font-stack: "Open Sans", sans-serif;
$font-fallback: "Helvetica Neue", Arial, "Lucida Grande", sans-serif; 

$font-weight-default: 300;
$font-weight-heavy: 400;
$font-weight-error: 600;

$font-size-small: 0.5;
$font-size-nav: 1.7;
$font-size-normal: 1.9;
$font-size-big: 2.5;
$font-size-bigger: 3;
