<!doctype html>
<html lang="de">
{% include head.html %}
<body>
  <header class="header">
    {% include nav.html %}
  </header>
  {{ content }}
  <script src="{{ "/scripts/libs.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/scripts/main.js" | prepend: site.baseurl }}"></script>
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "RUPPERTdesign",
    "url" : "http://www.ruppertdesign.de",
    "sameAs" : [
      "https://www.facebook.com/pages/RUPPERTdesign/804908999555866",
      "https://instagram.com/ruppertdesign/",
      "https://www.pinterest.com/RUPPERTdesign/"
    ]
  }
  </script>
</body>
</html>
