---
layout: base
---

<div class="splash-container">
  <img
    class="logo"
    src="{{ '/img/logo-transparent.png' | prepend: site.baseurl }}"
    alt="Logo RUPPERTdesign"
  />
  <ul class="pgwSlider">
    <li>
      <a
        href="{{
          '/holzwerke/2016/01/01/einbauschrank01/' | prepend: site.baseurl
        }}"
      >
        <img
          src="{{ '/landing/img/einbauschrank01.jpg' | prepend: site.baseurl }}"
        />
      </a>
    </li>
    <li>
      <a
        href="{{
          '/holzwerke/2014/08/18/garderobe01/' | prepend: site.baseurl
        }}"
      >
        <img src="{{ '/landing/img/garderobe.jpg' | prepend: site.baseurl }}" />
      </a>
    </li>
    <li>
      <a
        href="{{
          '/holzwerke/2014/09/28/messerblock/' | prepend: site.baseurl
        }}"
      >
        <img
          src="{{ '/landing/img/messerblock.jpg' | prepend: site.baseurl }}"
        />
      </a>
    </li>
    <li>
      <a
        href="{{ '/holzwerke/2015/02/02/esstisch02/' | prepend: site.baseurl }}"
      >
        <img src="{{ '/landing/img/tisch02.jpg' | prepend: site.baseurl }}" />
      </a>
    </li>
  </ul>
</div>
<div class="landing-wrapper">
  <main>{{ content }}</main>
  <footer id="kontakt">{% include footer.html %}</footer>
</div>
